@model mvcCoreETicaret.Northwind.MvcWebUI.Models.ShippingDetailsViewModel

@{
    ViewData["Title"] = "Alışverişi Tamamla";
    Layout = "~/Views/_Layout.cshtml";
}

<h2>Alışverişi Tamamla</h2>

<form asp-controller="Cart" asp-action="Complete" method="post">
   <div class="form-group">
       <label >Ad</label>
       <input asp-for="ShippingDetails.FirstName"  class="form-control" placeholder="Adınızı Giriniz."/>
       <span asp-validation-for="ShippingDetails.FirstName"></span>
   </div>
    <div class="form-group">
        <label >Soyad</label>
        <input asp-for="ShippingDetails.LastName" class="form-control" placeholder="Soyadınızı Giriniz." />
        <span asp-validation-for="ShippingDetails.LastName"></span>
    </div>
    <div class="form-group">
        <label >Adres</label>
        <input asp-for="ShippingDetails.Address" class="form-control" placeholder="Adresinizi Giriniz." />
        <span asp-validation-for="ShippingDetails.Address"></span>
    </div>
    <div class="form-group">
        <label >Şehir</label>
        <input asp-for="ShippingDetails.City" class="form-control" placeholder="Şehrinizi Giriniz." />
        <span asp-validation-for="ShippingDetails.City"></span>
    </div>
    <div class="form-group">
        <label>Email</label>
        <input asp-for="ShippingDetails.Email" class="form-control" placeholder="Mailinizi Giriniz." />
        <span asp-validation-for="ShippingDetails.Email"></span>
    </div>
    <div class="form-group">
        <label>Yaş</label>
        <input asp-for="ShippingDetails.Age" class="form-control" placeholder="Yaşınızı Giriniz." />
        <span asp-validation-for="ShippingDetails.Age"></span>
    </div>
    <input type="submit" value="Alışverişi Tamamla"  class="btn btn-xs btn-success"/>
</form>

